.top-main {
    .action {
        strong {
            font-size: 1.2rem;
        }

        a {
            img {
                margin-right: 7px;
            }
        }
    }
}

.image-container {
    .label {
        z-index: 0 !important;
    }
}

.small-product .info-container .price {
    position: relative;
    display: block;
    bottom: inherit;
    right: inherit;

}

@media (max-width: 1100px) {
    .homerenderblocks {
        .container.pad10 {
            .row.row10 {
                div:last-child {
                    flex: 0 0 100%;
                }
            }
        }
    }

    .single-product .search-hover {
        opacity: 1 !important;
        visibility: visible !important;
        bottom: 0 !important;
    }

    .top-main {
        position: -webkit-sticky;
        // position: fixed;
        background: #FFF;
        top: 0;

        .search {
            li:last-child {
                margin: 0;
                // width: 50px;
                display: flex;
                align-items: center;
                background: #feb415;
                color: #FFF;

                a {
                    color: #FFF;
                }
            }

            li:first-child {
                width: 30%;

                .btn {
                    white-space: inherit;
                }
            }

            .dropdown-menu {
                z-index: 10;
                width: 100%;
                min-width: 370px;
                left: -15px;
                margin: 0;
                padding: 0;
                margin-top: 3px;
            }

            button {
                outline: 0;
                box-shadow: none !important;

                &:focus {
                    outline: 0;
                    box-shadow: none;
                }
            }
        }

        .logo {
            img {
                max-width: 70px;
            }
        }

        .buttonGrey {
            background: #FFF;
            border: solid 1px #ededed;
        }

        .action {
            li {
                padding: 0px 10px;
                margin: 0 !important;
                border: solid 1px #ededed;
                border-radius: 3px;
                margin-left: 3px !important;

                a {
                    padding: 5px !important;

                    &.flex-this {
                        display: block !important;
                    }

                    img {
                        margin: 0;
                    }
                }

                &:last-child a {
                    padding: 3px !important;
                    margin: 0 !important;
                }

                p {
                    display: none;
                }

                strong {
                    font-size: 15px;
                }
            }
        }
    }

    .e-mart-loading {
        min-height: 600px;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: #FFF;
    }

    .ant-spin-dot i {
        background-color: #feb413;
    }

    .fixed-mobile-menu {
        z-index: 11 !important;

        .single {
            .top-1 {
                padding-right: 0 !important;
            }
        }

        .buttonBlack {
            background: transparent;
            // padding-right: 0;
        }

        form {
            border: solid 1px #FFF;
            border-radius: 3px;
        }

        .single.top-3 {
            padding: 20px 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }

        ul {
            width: 100% !important;
        }

        .notification {
            display: none;
        }
    }

    .image-container {
        .label {
            z-index: 4 !important;
            opacity: 0.7;
        }
    }

    .main-slide {
        .slide-content {
            a {
                display: none;
            }
        }
    }

    .single-product {
        .info-container {
            .cat {
                height: auto;
                display: block;
                max-height: 45px;

                span {
                    font-weight: 300;
                    font-size: 15px;
                }
            }

            .name {
                span {
                    font-size: 18px;
                    font-weight: 600;
                    // color: #feb413;
                }
            }

            .price {
                position: relative;
                bottom: 0;
                right: 0;

                &>div {
                    // display: flex;
                    // justify-content: space-between;
                    // justify-content: flex-end;
                    // align-items: flex-end;

                    small {
                        font-size: 12px;
                        padding-bottom: 10px;
                    }

                    span.current {
                        font-size: 20px;
                        // font-weight: bold;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    .small-product {
        .info-container {
            .rating {
                margin-bottom: 5px;
            }

            .name {
                min-height: inherit;
                max-height: inherit;
            }
        }
    }

    .ant-modal-wrap {
        position: fixed;
        overflow: hidden;
        overflow-y: auto;

        .ant-modal {
            top: 10px;

            form {
                .form-control {
                    font-size: 14px;
                    height: 35px;
                }
            }

            .modal-body {
                &>div {
                    a.btn-link {
                        white-space: normal;
                    }
                }
            }

            .ant-modal-footer {
                display: none;
            }
        }
    }

    .section {
        h1.title {
            svg {
                display: none;
            }

            .text {
                font-weight: 100;
                padding: 10px 20px;
                font-size: 14px;
                color: #797878;
            }

            &+h1 {
                display: none;
            }
        }
    }

    .brands-list {
        .swiper-container {
            height: auto !important;

            .swiper-slide {
                background-size: contain !important;
                background-position: left;
            }
        }
    }

    .section-footer {
        padding: 20px 20px;
        font-weight: 300;

        .logo {
            margin-bottom: 20px;
        }

        .social {
            margin-bottom: 20px;

            li {
                svg.fa-4x {
                    font-size: 2.9em;
                    // width: 40px;
                    // height: 40px;
                    // text-align: center;
                    // line-height: 40px;
                }
            }
        }

        span {
            color: rgba(255, 255, 255, 0.7);
        }

        .col-sm-12 {
            width: 50%;
            padding: 0;
            margin: 0;
            font-size: 13px;

            &:first-child {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &:last-child {
                width: 100%;
            }
        }

        .bottom-container {
            margin: 0;
            padding: 0;
            border-top: 1px solid rgb(64, 66, 72);

            center {
                padding: 15px 0px;
                padding-bottom: 0;
            }
        }
    }

    .whole-page-title {
        // background-size: contain !important;

        h2 {
            font-weight: 300;

            strong {
                font-weight: 100;
            }
        }
    }

    .package {
        .col-md-4 {
            // width: 50% !important;
        }

        .lol {
            width: 100%;
        }
    }

    .lol {
        display: block !important;
        width: 50%;
    }

    .pack-product-container {

        .pack-list {

            .info-container form {
                width: 180px !important;
                margin-right: 10px;

                .form-control {
                    width: 30px !important;
                }
            }
        }
    }

    .product-detail-page .product-info .total-price span {
        font-size: 20px;
    }

    .htmlcontainer {
        text-align: justify;
        padding: 0px 10px;

        table {
            width: 100% !important;
        }

        img {
            width: 100% !important;
            height: auto !important;
        }
    }

    .product-detail-page {
        .col-sm-9 {
            padding: 0;
            margin: 0;

            form {
                &>div {
                    justify-content: flex-end;
                }
            }

            .total-price {
                margin-top: 20px;
            }
        }

        .image {
            border: solid 1px #ededed;
        }

        .product-info {
            .btn-container {
                display: flex;
                margin-top: 10px;

                button {
                    width: 100%;
                    padding: 5px 10px !important;

                    span {
                        font-size: 11px;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }

    .food-recipe-detail .row.row10 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .food-recipe-detail .row.row10 .col-md-4 {
        width: auto;
    }

    .product-bottom-info {
        .row.row10 {
            display: flex;

            .col-sm-6 {
                max-width: 85%;
            }
        }
    }

    .comments-container .main-rating {
        display: block;

        .text {
            padding-left: 0 !important;
            margin-left: 0 !important;
        }
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .top-main .action li a.flex-this {
        display: none !important;
    }

    .package {
        .lol {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;

        }
    }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .product-detail-page {
        .col-md-9 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .col-md-3 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    .package {
        .lol {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;

        }
    }
}